file:
{% if compile_boost is defined and compile_boost %}
  {{ boost_prefix }}/lib/libboost_zlib.a:
    exists: true
  {{ boost_prefix }}/lib/libboost_bzip2.a:
    exists: true
  {{ boost_workdir }}/boost_{{ boost_version | replace('.','_') }}:
    exists: true
    filetype: directory
  {{ boost_workdir }}/boost_{{ boost_version | replace('.','_') }}/b2:
    exists: true
    filetype: file
{% endif %}
